.about_us2{
    width: 100%;
    padding: 70px 0;
    

    .container{
        width: 1200px;
        margin: 0 auto;

        // background-color: pink;
        article{
            .flex_b;
            position: relative;
            nav{
                width: 45%;
                height: 320px;
                background: url(../img/about1.jpg) no-repeat center/cover; 
                border-radius: 20px 0 20px 0;
            } 
            section{
                padding: 30px 20px;
                width: 52%;
                .flex_b;
                flex-direction: column;
                h2{
                    margin-bottom: 20px;
                    font-size: 22px;
                    font-family: inBold;
                    color: @mainClr;
                }
                p{
                    font-size: 15px;
                    line-height: 24px;
                    span{
                        color: @mainClr;
                    }
                }
                :nth-child(2){
                    margin-bottom: 15px;
                }
            }
            >div{
                transform: rotate(90deg);
                position: absolute;
                right: -140px;
                bottom: 20;
                z-index: -1;

                h4{
                    font-size: 100px; 
                    font-family: inBold;   
                    color: #00000013;
                    // color: rgba(255, 0, 0, 0.116);
                }
            }
        }
    }
}